<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>@Wanderlust Private Limited</div><br>
        <div class="f-info-links">
            <a class="/privacy">privacy</a>
            <a class="/terms">Terms</a>
        </div>

    </div>
</footer>