<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
        <%for(let data of allList){%>
          <a href="/listing/<%=data._id%>" class="listing-link">
            <div class="card listing" style="width: 18rem;">
                <img src="<%=data.image.url%>" class="card-img-listing" alt="data_image">
                <div class="card-body">
                  <p class="card-text">
                    <%=data.title%>
                    <br/>&#8377;
                    <%=data.price.toLocaleString("en-IN")%>/night
                  </p>
                </div>
            </div>
          </a>
        <%}%>
    </div>

    <form method="get" action="/listing/new">
        <button type="submit" class="btn btn-primary">ADD HOTEL</button>
    </form>

</body>

